html, body {
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #2596be;
	background-image: url("images/vaporbg.jpeg");
	height: 100vh;
    width: 100vw;
	background-position: center;
}

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: auto;
}

.codeDisk {
	position: fixed;
	max-width: 10%;
	height: auto;
	bottom: 0;
	left: 0;
	margin: 15px 5px;
	padding: auto;
	opacity: .5;
}

.guestDisk {
	position: fixed;
	max-width: 10%;
	height: auto;
	bottom: 0;
	right: 0;
	margin: 15px 5px;
	padding: auto;
	opacity: .5;
}

.guestDisk:hover {
	max-width: 12%;
	height: auto;
	opacity: 1;
}

.codeDisk:hover {
	max-width: 12%;
	height: auto;
	opacity: 1;
}

p {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	font-size: 15px;
	color: #33ff00;
	font-family: "VT323", monospace;
}

.link {
	color: #33ff00;
}

.link:hover {
	color: #ffcc00;
}